# Ignore virtual environment directories
.venv/
myenv/
#Ignore the models directory to avoid pushing the models to the repository
models/
#Ignore the VSCode directory to avoid pushing the settings to the repository
.vscode/
#Ignore the logs directory to avoid pushing the logs to the repository
logs/
#ignore the compiled python files
python/build/
/python/dist/